*{
    margin: 0;
}

.Our_page_body {
    background-image: url(https://img.freepik.com/free-vector/3d-abstract-wave-pattern-background_53876-116944.jpg?w=1060&t=st=1676884540~exp=1676885140~hmac=0b8d3611039291490460976e78fa7278e193222122ce28fbbce3ef16d2869ab9);
}

.main_nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Nav-logo{
    width: 100px;
}

.Nav-head{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main_banner-div{
    background-image: url(http://edugaon.com/images/slider/slider_software1.png);
    width: 100%;
    height: 40vmax;
    overflow: hidden;
    position: relative;
    object-fit: contain;
    background-position: 10% 20% 10%  ;
}